<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>EJS Example</title>
  </head>
  <body>
    <h1>My Files</h1>
    <p class="text-3xl font-bold underline">Hello world!</p>
    <ul>
      <% if (fileData && Array.isArray(fileData)) { %> <%
      fileData.forEach(function(file) { %>
      <li><%= file.title %></li>
      <% }); %> <% } else { %>
      <li>No files available</li>
      <% } %>
    </ul>
  </body>
</html>
